* {
 font-family: 'Montserrat', sans-serif;
}

.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}

.sidebar {
  width: 192px;
}
.sidebar-menu { list-style-type: none; }
.sidebar-menu li a { font-size: 1.25em !important; }
.content {
  background-color: #ECECEC;
}
