extends ../../layout.pug

block content
  main.row.h-100.w-100
    div.container.text-center.my-auto
      h1 Login 

      div.container.w-25.text-left.my-4
        form(method="post" action="/admin/api/login")
          div.form-group
            label(for="email") Email Address
            input(type="email" aria-describedby="emailHelp" placeholder="Enter Email" name="email").form-control
            small(id="emailHelp").form-text.text-muted Of course you know our email

          div.form-group
            label(for="password") Password
            input(type="password" placeholder="Enter Password" name="password").form-control

          if messages.error
            div.text-danger.my-4= messages.error

          button(type="submit").btn.btn-dark Login
