extends ../../layout.pug

block content
  main.row.h-100.w-100
    div.container.text-center.my-auto
      h1 Express with Passport 
      h5 As you can see, this is an admin page, and you must be an admin, right?
      if !user
        a.btn.btn-outline-dark.btn-large.mt-4(href="/admin/login") Login
