extends ../../layout.pug

block content
  main.h-100.w-100.d-flex.flex-column
    nav.navbar.navbar-dark.bg-dark
      a.navbar-brand(href="/admin/dashboard") Express Passport
      div.d-flex.align-items-center
        div.text-white.mr-4= user.name
        a.btn.btn-danger(href="/admin/api/logout") Logout

    div.d-flex.flex-grow-4
      aside.sidebar
        ul.sidebar-menu.container.my-4.d-flex.flex-column
          li
            a.btn.btn-link(role="button" href="/admin/dashboard/products") Products

      div.flex-grow-4.content.d-flex
        div.container.m-4.card
          block card
